<div class="panel panel-primary">
    <div class="panel-heading">User registration form</div>
    <div class="panel-body">
        <form class="css-form" name="userForm" novalidate></form>
        <div class="form-group">
            <label for="userName">User name</label>
            <input type="text" class="form-control" id="userName"
                   name="userName" placeholder="Username"
                   ng-model="user.userName"/>
            <span ng-show="userForm.userName.$dirty && userForm.userName.$error.unique">
                User name is not unique
            </span>

            <input type="password" class="form-control" id="password"
                   name="password" placeholder="Password"
                   ng-model="user.pass"/>

            <input type="password" class="form-control" id="password2"
                   name="password2" placeholder="Repeat password"
                   match-to="user.password" ng-model="user.password2"/>
            <span ng-show="userForm.password2.$touched && userForm.password2.$error.matchTo">
                Passwords should match
            </span>

            <input type="date" class="form-control" id="birthDay"
                   name="birthDay" placeholder="Date"
                   ng-model="user.birthDay"
                   ng-pattern="/^[0-9][0-9]\.[0-1][0-9]\.[1-2][0-9][0-9][0-9]$/"/>
            <span ng-show="userForm.dateOfBirth.$error.pattern">
                Date of birth should be in format dd.mm.yyyy
            </span>

            <input type="email" class="form-control" id="email"
                   name="email" placeholder="E-mail"
                   ng-model="user.email"
                   ng-show="user.subscribe"/>

            <div class="checkbox">
                <label><input type="checkbox"
                              ng-model="user.subscribe">
                    Subscribe for newsletters
                </label>
            </div>
            <button type="submit" class="btn btn-primary"
                    ng-disabled="userForm.$invalid">Submit</button>
        </div>
    </div>
</div>